*, body {
    padding: 0;
    border: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

.mainHeaderContainer {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #12acf9;

    width: 100%;
    height: 15%;
}

@media (min-width: 768px) {
    .header-container {
      font-size: 110px;
    }
  }
  
  @media (max-width: 767px) {
    .header-container {
      font-size: 18px;
    }
  }